Host bastion
  HostName      phxbastion100.phx.ebay.com

Host ws
  HostName      D-SJC-10006727.corp.ebay.com

Host xxxxxxxxx
  HostName      xxxxxxxxxxxxxxxxxxxxxxx.abcdef.ghi
  IdentityFile  ~/.ssh/token.key
  User stack
  ProxyCommand  ssh phxbastion100.phx.ebay.com -W %h:%p

Host *
  ControlMaster auto
  ControlPath ~/.ssh/ssh_control_%h_%p_%r
  ServerAliveInterval 60
